{% extends 'userapp/home.html' %}

    {% block navigation %}
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" href="{% url 'userapp:index' %}">Home</a>
          <a class="nav-link active" href="">Account</a>
          <a class="nav-link" href="#">About</a>
        </nav>
   {% endblock %}
   
   {% block body %}
   <main role="main" class="inner cover mt-auto">
   <!-- messages section -->
     {% if messages %}
     <div class="row mt-5" >
       <div class="col" >
       {% for msg in messages %}
       <span class="alert alert-success d-block">{{msg}}</span>
       {% endfor %}
       </div>
     </div>
     {% endif %}
     
     <!-- main content -->
      <div class="row my-5 " >
        <div class="col-md-7 mb-5 bg-light text-left p-3 mr-3" >
          <h3 class="text-capitalize text-center text-muted">Please Fill the form below to Login</h3>
            <form class="p-3" method="POST" action="{% url 'userapp:login' %}">
              {% csrf_token %}
              <div class="form-group">
                <label for="id_login_username">Username</label>
                <input type="text" class="form-control" id="id_login_username" name="username" placeholder="Enter your username">
              </div>
              <div class="form-group">
                <label for="id_login_password">Password</label>
                <input type="password" class="form-control" id="id_login_password" name="password" placeholder="Enter your password" >
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="id_remember_me">
                <label class="form-check-label" for="id_remember_me">Remember me</label>
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          <div class="text-muted text-center">
            <a href="" class="text-muted" data-toggle="modal" data-target="#registration-modal">Don't yet have an account? click to Register</a>
          </div>
        </div>
        <div class="col-md-4 mb-5 shadow bg-light p-3" >
          <h3 class="text-capitalize text-muted">Account Settings</h3>
          <div class="p-3 ">
            <div class="my-3">
              <a href=""class="font-weight-bold d-block bg-info form-bg badge-pill" data-toggle="modal" data-target="#reset-password-modal" >Reset your password</a>
              <span class="text-muted text-left">For registered users with active accounts</span>
            </div>
            <div class="my-3">
              <a href="" class="font-weight-bold d-block bg-info form-bg badge-pill" data-toggle="modal" data-target="#activation-modal">Activate Your Account</a>
              <span class="text-muted text-left">For registered users with inactive/deactivated accounts</span>
            </div>
          </div>
        </div>
      </div>
    </main>
   
   
   
    <!-- Modals section -->
   
    <!-- Registration Form -->
    <div class="modal fade" id="registration-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false" >
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" >M-Sender</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-left p-4">
            <form method="POST" action="{% url 'userapp:registration' %}">
              {% csrf_token %}
              <h3 class="text-capitalize text-center text-muted">Please fill the form below to register </h3>
              <div class="form-group">
                <label for="id_first_name" class="col-form-label">First Name:</label>
                <input type="text" class="form-control" id="id_first_name" name="first_name" placeholder="Enter your First Name" required>
              </div>
              <div class="form-group">
                <label for="id_last_name" class="col-form-label">Last Name:</label>
                <input type="text" class="form-control" id="id_last_name" name="last_name" placeholder="Enter your Last Name" required>
              </div>
              <div class="form-group">
                <label for="id_email" class="col-form-label">Email:</label>
                <input type="email" class="form-control" id="id_email" name="email" placeholder="Enter your email address" required>
              </div>
              <div class="form-group">
                <label for="id_username_registration" class="col-form-label">Username:</label>
                <input type="text" class="form-control" id="id_username_registration" name="username" placeholder="Enter your username" required>
              </div>
              <div class="form-group">
                <label for="id_password_registration" class="col-form-label">Password:</label>
                <input type="password" class="form-control" id="id_password_registration" name="password" placeholder="Enter your password" required>
              </div>
              <div class="row">
                <input class="col badge-pill bg-primary btn text-white" type="submit" value="Register">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
   
   <!-- Account activation modal -->
    <div class="modal fade" id="activation-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false" >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="Registration_modal">M-Sender</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-left p-4">
            <form method="POST" action="{% url 'userapp:activateaccount' %}" class="p-4">
              {% csrf_token %}
              <h3 class="text-capitalize text-center text-muted">Fill the form to reactivate your account</h3>
              <div class="form-group">
                <label for="id_activate_username" class="col-form-label">Username:</label>
                <input type="text" class="form-control" id="id_activate_username" name="username" placeholder="Enter your Username" required>
              </div>
              <div class="form-group">
                <label for="id_activate_password" class="col-form-label">Password:</label>
                <input type="password" class="form-control" id="id_activate_password" name="password" placeholder="Enter your password" required>
              </div>
              <div class="row">
                <input class="col badge-pill bg-primary btn text-white" type="submit" value="Activate">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- Reset password modal -->
    <div class="modal fade" id="reset-password-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false" >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" >M-Sender</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-left p-4">
            <form method="POST" action="{% url 'userapp:forgotpassword' %}" class="p-4">
              {% csrf_token %}
              <h3 class="text-capitalize text-center text-muted">Fill the form to reset your password</h3>
              <div class="form-group">
                <label for="id_reset_username" class="col-form-label">Username:</label>
                <input type="text" class="form-control" id="id_reset_username" name="username" placeholder="Enter your Username" required>
              </div>
              <div class="form-group">
                <label for="id_reset_email" class="col-form-label">email:</label>
                <input type="email" class="form-control" id="id_reset_email" name="email" placeholder="Enter your email address" required>
              </div>
              <div class="row">
                <input class="col badge-pill bg-primary btn text-white" type="submit" value="Reset">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    
    {% endblock %}
   
   
   
   
   
   
   
   
</body>
</html>
