<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forgot Password</title>
</head>
<body>
  <form action="" method="POST">
    <h1>Reset your password</h1>
    {% csrf_token %}
    {% for msg in messages %}
      {{msg}}<br>
    {% endfor %}
    <input type="text" maxlength="200" required name="username" placeholder="Enter your username" /><br>
    <input type="email"  required name="email" placeholder="Enter your email" /><br>
    <input type="submit" value="Reset">
  </form>
</body>
</html>